@model SeatSelectVM
<form asp-controller="Tickets" asp-action="Create">

	<div class="form-group">
		@Html.HiddenFor(x => x.CustomerId)
		@Html.HiddenFor(x => x.MovieId)
		@Html.HiddenFor(x => x.ShowtimeId)
		<label asp-for="SeatNo" class="control-label"></label>
		<select asp-for="SeatNo">
			@foreach (var seat in Model.Seats)
			{

				@if (!seat.IsBooked)
				{
					<option value="@seat.SeatId">@seat.SeatNo</option>
					
				}
			}
		</select>
		<span asp-validation-for="SeatNo" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-warning text-white" />
	</div>
</form>




